<h1>About</h1>
<div class="row">
	<div class="col-md-4">
		<img src="https://m.media-amazon.com/images/I/51X0IbydNWL._SL1100_.jpg" width = "300"alt="Profile image">
	</div>
	<div class="col-md-8">
		When a user activates a theme, they have an expectation of seeing their photos, theirs shop, their contributors and all of their content with a new style or twist. Themes provide this ability to showcase user content in different ways. How a theme gets that content is what we look for. When there is no content a theme should not show anything. This has been an issue in the past and this will hopefully add more information to that. Sounds simple, right?
		
	</div>
</div>